[submodule "phoenix/phoenix"]
	path = benchmarks/phoenix/phoenix
	url = https://github.com/kozyraki/phoenix
[submodule "simulation/imperas-riscv-tests"]
	path = simulation/imperas-riscv-tests
	url = https://github.com/riscv-ovpsim/imperas-riscv-tests
[submodule "simulation/DRAMSim2"]
	path = simulation/DRAMSim2
	url = https://github.com/umd-memsys/DRAMSim2
[submodule "compilation/riscv-gnu-toolchain"]
	path = compilation/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
